{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Histórico de Detecções</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="list-history-page">
    <div class="header">Histórico de Detecções</div>

    <div class="user-container">
        <table class="user-grid-history">
            <thead>
                <tr>
                    <th>Data</th>
                    <th>Hora</th>
                    <th>Nome</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in history %}
                <tr>
                    <td>{{ entry.date }}</td>
                    <td>{{ entry.time }}</td>
                    <td>{{ entry.name }}</td>
                    <td>{{ entry.status }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4">Nenhum histórico disponível.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="button-container">
        <a href="{% url 'index' %}" class="btn">Voltar</a>
    </div>
</body>
</html>
