<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Usuários</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header class="header">Face Recognition Admin</header>
    
    <div class="user-container">
        <h2>Lista de Usuários</h2>
        <div class="user-grid">
            {% for user in users %}
                <div class="user-card">
                    {% if user.image_64 %}
                        <img src="data:image/png;base64,{{ user.image_64 }}" alt="Foto de {{ user.name }}">
                    {% else %}
                        <img src="{% static 'images/default-avatar.png' %}" alt="Imagem padrão">
                    {% endif %}
                    <h3>{{ user.name }} {{ user.last_name }}</h3>
                    <p>Gênero: {{ user.gender }}</p>
                    <p>ID: {{ user.user_id }}</p>
                    <a href=" # " class="btn">Modificar</a>
                </div>
            {% empty %}
                <p>Nenhum usuário encontrado.</p>
            {% endfor %}
        </div>
    </div>
</body>
</html>
