# Ignore the collection folder within dist
dist/

# Virtual environment
.venv/
env/
venv/

# PyInstaller build artifacts
build/

# Compiled Python files
__pycache__/
*.pyc

# IDE configuration files
.vscode/
.idea/

# Log files
*.log

# Temporary files
*.tmp
*.temp

# Ignore build and dist folders
build/
dist/