# Ignore the collection folder within dist
dist/

# Virtual environment
.venv/
venv/

# Ignore the contents of the .env file but include the empty file
.env/*
!.env

# PyInstaller build artifacts
build/

# Compiled Python files
__pycache__/
*.pyc

# IDE configuration files
.vscode/
.idea/

# Log files
*.log

# Temporary files
*.tmp
*.temp

# Ignore build and dist folders
build/
dist/

# Ignore recognized_people.csv
recognized_people.csv
src/recognized_people.csv